* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#game {
  display: flex;
}
#game .white {
  width: 100px;
  height: 100px;
}
#game .black {
  width: 100px;
  height: 100px;
  background-color: black;
}