*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/bckg.jpeg");
}
.chess {
  width: 530px;
  height: 533px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: solid 5px red;

  .letters {
    display: flex;
    text-align: center;
    justify-content: space-around;
    grid-row: 3;
  }
  .numbers{
    grid-column: 1;
    grid-row: 1/4;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-content: center;
    padding:20px 0 20px 5px;
  }

  li {
    list-style:none;
  }
}
#game {
  width: 480px;
  height: 483px;
  padding: 0px;
  border:2px solid black;
  grid-column: 2;
  grid-row:2;



  .row{
    display: flex;
    align-content: flex-start;
  }

  .white {
    width:60px;
    height:60px;
    background-color: white;
  }
  
  .black {
    width:60px;
    height:60px;
    background-color: rgb(121, 121, 121);
  }
}


