* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess {
  width: 530px;
  height: 533px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: solid 5px red;
}
.chess .letters {
  display: flex;
  text-align: center;
  justify-content: space-around;
  grid-row: 3;
}
.chess .numbers {
  grid-column: 1;
  grid-row: 1/4;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-content: center;
  padding: 20px 0 20px 5px;
}
.chess li {
  list-style: none;
}

#game {
  width: 480px;
  height: 483px;
  padding: 0px;
  border: 2px solid black;
  grid-column: 2;
  grid-row: 2;
}
#game .row {
  display: flex;
  align-content: flex-start;
}
#game .white {
  width: 60px;
  height: 60px;
}
#game .black {
  width: 60px;
  height: 60px;
  background-color: #797979;
}