
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#game {
  display: flex;

  // display: grid;
  // grid-template-columns: repeat(8, 1fr);
  // width:800px;  
  .white {
    width:100px;
    height:100px;
  }
  
  .black {
    width:100px;
    height:100px;
    background-color: black;
  }
}


