* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 480px;
  height: 500px;
  padding: 5px;
  border: 5px solid blue;
}
#game .row {
  display: flex;
}
#game .white {
  width: 60px;
  height: 60px;
}
#game .black {
  width: 60px;
  height: 60px;
  background-color: black;
}